# judypn_lao_com vendor init rc

# For Kinibi(t-base), lge-secureboot@lge.com
import /vendor/etc/init/init.kinibi.rc

on post-fs-data
# NFC: create data/nfc for nv storage
    mkdir /data/vendor/nfc 0770 nfc nfc

# IMEI_Protection start
# Add ipd service
service vendor.ipd /vendor/bin/ipd
    class main
    user system
    group radio system net_raw
# IMEI_Protection end
