# This file is imported by init.{ro.hardware}.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mount_all /vendor/etc/fstab.${ro.hardware}
    swapon_all /vendor/etc/fstab.${ro.hardware}

    mkdir /persist/data 0700 system system
    mkdir /persist/display 0770 system graphics
    mkdir /persist/rfs 0770 root system
    mkdir /persist/hlos_rfs 0770 root system
    chmod 0770 /persist/rfs
    chmod 0770 /persist/rfs/shared
    chmod 0770 /persist/rfs/msm
    chmod 0770 /persist/rfs/msm/adsp
    chmod 0770 /persist/rfs/msm/mpss
    chmod 0770 /persist/rfs/msm/slpi
    chmod 0770 /persist/rfs/mdm
    chmod 0770 /persist/rfs/mdm/adsp
    chmod 0770 /persist/rfs/mdm/mpss
    chmod 0770 /persist/rfs/mdm/slpi
    chmod 0770 /persist/rfs/mdm/tn
    chmod 0770 /persist/rfs/apq
    chmod 0770 /persist/rfs/apq/gnss
    chmod 0770 /persist/hlos_rfs

    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system

    chown system system /mnt/vendor/absolute
    chmod 0750 /mnt/vendor/absolute
    restorecon_recursive /mnt/vendor/absolute

    chown system system /mnt/vendor/mpt
    chmod 0775 /mnt/vendor/mpt
    restorecon_recursive /mnt/vendor/mpt

    chown system system /mnt/vendor/persist-lg
    chmod 0771 /mnt/vendor/persist-lg
    restorecon_recursive /mnt/vendor/persist-lg

    chown system system /mnt/vendor/sns
    chmod 0755 /mnt/vendor/sns
    restorecon_recursive /mnt/vendor/sns

    chown system radio /mnt/vendor/eri
    chmod 0771 /mnt/vendor/eri
    restorecon_recursive /mnt/vendor/eri

    # We use reservedsize option in fstab instead of tune2fs. No more use tune2fs
    # Executing tune2fs to reserve some region in /data.(40MB)
    # exec /system/bin/tune2fs -u system -r 10240 /dev/block/bootdevice/by-name/userdata

on post-fs
    chown system system /vendor/mpt
    chmod 0775 /vendor/mpt

    chown system system /vendor/persist-lg
    chmod 0771 /vendor/persist-lg

    chown system system /mnt/vendor/sns
    chmod 0755 /mnt/vendor/sns

    chown system system /vendor/fota
    chmod 0755 /vendor/fota

    chown root system /mnt/vendor/persist-lg/.sreadahead
    chmod 0770 /mnt/vendor/persist-lg/.sreadahead

    chown root system /mnt/vendor/persist-lg/.sreadahead/.sreadahead_done
    chmod 0660 /mnt/vendor/persist-lg/.sreadahead/.sreadahead_done

    chown root system /mnt/vendor/persist-lg/.sreadahead/.readahead_list.txt
    chmod 0660 /mnt/vendor/persist-lg/.sreadahead/.readahead_list.txt

    chown root system /sys/module/lge_handle_panic/parameters/gen_adsp_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_bug
    chown root system /sys/module/lge_handle_panic/parameters/gen_cdsp_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_mba_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_modem_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_sec_wdt_bite
    chown root system /sys/module/lge_handle_panic/parameters/gen_sec_wdt_scm
    chown root system /sys/module/lge_handle_panic/parameters/gen_slpi_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_venus_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_wcnss_panic
    chown root system /sys/module/lge_handle_panic/parameters/gen_wdt_bark
    chown root system /sys/module/lge_handle_panic/parameters/gen_wdt_bite

    start sreadahead

# enable & disable crash handler, rtb & trace event through property
on property:persist.vendor.lge.service.crash.enable=*
    restart service-crash

service service-crash /vendor/bin/init.sdm845.crash.sh
    disabled
    oneshot

service sreadahead /vendor/bin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not.
service sreadahead-check /vendor/bin/sreadahead_check
    class main
    user root
    group root system
    oneshot
    seclabel u:r:sreadahead-check:s0

on property:persist.vendor.lge.service.crash.enable=1
    start console
    # rtb filter
    write /sys/module/msm_rtb/parameters/filter 0x237

    # ftrace
    write /sys/kernel/debug/tracing/tracing_on 1

    #enble FTRACE for softirq events
    write /sys/kernel/debug/tracing/events/irq/enable 1
    write /sys/kernel/debug/tracing/events/irq/filter 1
    write /sys/kernel/debug/tracing/events/irq/softirq_entry/enable 1
    write /sys/kernel/debug/tracing/events/irq/softirq_exit/enable 1
    write /sys/kernel/debug/tracing/events/irq/softirq_raise/enable 1
    write /sys/kernel/debug/tracing/events/irq/irq_handler_entry/enable 1

    #enble FTRACE for Workqueue events
    write /sys/kernel/debug/tracing/events/workqueue/enable 1
    write /sys/kernel/debug/tracing/events/workqueue/filter 1
    write /sys/kernel/debug/tracing/events/workqueue/workqueue_activate_work/enable 1
    write /sys/kernel/debug/tracing/events/workqueue/workqueue_execute_end/enable 1
    write /sys/kernel/debug/tracing/events/workqueue/workqueue_execute_start/enable 1
    write /sys/kernel/debug/tracing/events/workqueue/workqueue_queue_work/enable 1

    # schedular
    write /sys/kernel/debug/tracing/events/sched/sched_cpu_hotplug/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_cpu_load/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_enq_deq_task/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_load_balance/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_migrate_task/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_switch/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_task_load/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_wakeup/enable 1
    write /sys/kernel/debug/tracing/events/sched/sched_wakeup_new/enable 1

    # power
    write /sys/kernel/debug/tracing/events/msm_low_power/enable 1

    # scm call
    write /sys/kernel/debug/tracing/events/scm/scm_call_start/enable 1
    write /sys/kernel/debug/tracing/events/scm/scm_call_end/enable 1

    # size
    write /sys/kernel/debug/tracing/buffer_size_kb 16384

on property:persist.vendor.lge.service.crash.enable=0
    # rtb filter
    write /sys/module/msm_rtb/parameters/filter 0

    # ftrace
    write /sys/kernel/debug/tracing/tracing_on 0

    # size
    write /sys/kernel/debug/tracing/buffer_size_kb 0

    # free buffer
    #write /sys/kernel/debug/tracing/free_buffer
