<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="org.lineageos.settings.device.dac"
    android:versionCode="5"
    android:versionName="1.1.3">


    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="lineageos.permission.HARDWARE_ABSTRACTION_ACCESS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="24" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/quad_dac_app_name"
        android:theme="@style/Theme.Main"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <provider
            android:name=".QuadDACPanelSearchIndexablesProvider"
            android:authorities="org.lineageos.settings.device.dac"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".QuadDACPanelActivity"
            android:label="@string/quad_dac">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
		<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_quad_dac_icon" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:value="@string/summary_empty" />
        </activity>

        <receiver android:name=".Startup" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".QuadDACTileService"
            android:icon="@drawable/ic_quad_dac_icon"
            android:label="@string/quad_dac"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

    </application>

</manifest>
