on boot
    # LEDs
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/blink_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/input_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/onoff_patterns
    chown system system /sys/devices/virtual/lg_rgb_led/use_patterns/setting
    chmod 0644 /sys/devices/virtual/lg_rgb_led/use_patterns/setting
    chown system system /sys/class/leds/wled/brightness
    chmod 0644 /sys/class/leds/wled/brightness
    write /sys/devices/virtual/lg_rgb_led/use_patterns/setting 1

on property:sys.boot_completed=1
    write /sys/devices/virtual/lg_rgb_led/use_patterns/setting 0

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.judyln
    interface android.hardware.light@2.0::ILight default
    class hal
    user root
    group system
    # shutting off lights while powering-off
    shutdown critical
