########################################
# Application Manager ENABLE_UNINSTALL
########################################
service vendor.enable_uninstall  /system/vendor/bin/enable_uninstall.sh
    disabled
    oneshot

on property:vold.post_fs_data_done=1
    start vendor.enable_uninstall

########################################
# resource parallel loading
########################################
service vendor.rmplb /vendor/bin/rmplb.sh
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start vendor.rmplb

########################################
# sim based property copy
########################################
service vendor.property_copy /system/vendor/bin/property_copy.sh
    class late_start
    disabled
    oneshot

on property:persist.vendor.lge.sim.operator=*
    start vendor.property_copy
