on post-fs-data
    #LGP_DATA_APN_BACKUP
    mkdir /mnt/vendor/persist-lg/lgdata 0771 radio radio

    #Widevine
    mkdir /mnt/vendor/persist-lg/widevine 0770 drm system

    #Widevine firmware
    mkdir /mnt/vendor/persist-lg/firmware 0771 system system

    #chargerlogo
    mkdir /mnt/vendor/persist-lg/chargerlogo 0771 system system

    #Thermal Encryption
    mkdir /mnt/vendor/persist-lg/thermal 0771 root shell

    #RCT
    rm /mnt/vendor/persist-lg/rct
    rm /mnt/vendor/persist-lg/rct.cfg
    mkdir /mnt/vendor/persist-lg/rct 0771 root root

    #Kill-Switch
    mkdir /vendor/persist-lg/mms 0770 system vendor_lgmms

    #MM Proxy
    mkdir /vendor/persist-lg/mmoprt 0771 system system

    #Encryption
    mkdir /vendor/persist-lg/encryption 0771 system system

    #secureks
    mkdir /vendor/persist-lg/secureks 0770 system system

    # STB
    mkdir /vendor/persist-lg/stblvd 0771 system system
    chmod 770 /vendor/persist-lg/stblvd/dkp
    chmod 770 /vendor/persist-lg/stblvd/srmp

    #KDDI SIMLock Management
    mkdir /vendor/persist-lg/cardinal 0770 system system

    #CAPP_BLUEERROR_HANDLER: temp version, it will be removed
    chown root system /data/dontpanic
    chmod 0775 /data/dontpanic

    # LGE_CHANGE_S, [display] feature : SP MIRRORING
    chmod 0660 /sys/class/graphics/fb0/sp_link_backlight_off
    chown system system /sys/class/graphics/fb0/sp_link_backlight_off
    chmod 0660 /sys/devices/virtual/input/lge_touch/sp_link_touch_off
    chown system system /sys/devices/virtual/input/lge_touch/sp_link_touch_off
    # LGE_CHANGE_E, [display] feature : SP MIRRORING

    #NTCODE_LISTING
    mkdir /data/app-system 0771 system system

    #LGP_DATA_APN_BACKUP
    mkdir /mnt/vendor/persist-lg/lgdata 0775 radio radio

    # LGBackup Removing Unlabeled Resource
    rm /data/data/.bnr_fifo_rly
    rm /data/data/.bnr_fifo_req


    #labeling lg partitions
    restorecon /mnt/vendor/persist-lg
    restorecon_recursive /mnt/vendor/persist-lg
    restorecon /mnt/vendor/sns
    restorecon_recursive /mnt/vendor/sns
    restorecon /mnt/vendor/mpt
    restorecon_recursive /mnt/vendor/mpt
    restorecon /mnt/vendor/persist
    restorecon_recursive /mnt/vendor/persist
    restorecon /cust
    restorecon_recursive /cust
    restorecon /mnt/vendor/eri
    restorecon_recursive /mnt/vendor/eri
    restorecon /mnt/vendor/ve
    restorecon_recursive /mnt/vendor/ve
    restorecon /mnt/vendor/OneSeg
    restorecon_recursive /mnt/vendor/OneSeg
    restorecon /dev/iwland
    restorecon /data/preload
    restorecon_recursive /data/preload
    restorecon /mnt/vendor/power
    restorecon_recursive /mnt/vendor/power
    restorecon /mnt/vendor/absolute
    restorecon_recursive /mnt/vendor/absolute
    restorecon /mnt/vendor/qni
    restorecon_recursive /mnt/vendor/qni
    restorecon /mnt/vendor/power
    restorecon_recursive /mnt/vendor/power
    restorecon /oem
    restorecon_recursive /oem
    restorecon /oem/OP
    restorecon_recursive /oem/OP

    #Widevine firmware copy
    exec - system system -- /vendor/bin/cpfirmware widevine /mnt/vendor/persist-lg/firmware

    #Create callduration file
    mkdir /mnt/vendor/persist-lg/callduration 0770 system radio
    chown system radio /mnt/vendor/persist-lg/callduration
    chmod 0770 /mnt/vendor/persist-lg/callduration

    #Create rtnlastdate file
    mkdir /vendor/persist-lg/rtnlastdate 0770 system radio

    #Create camera dir for EEPROM data
    mkdir mnt/vendor/persist-lg/camera 0771 cameraserver radio

    #Create Touch self test folder
    mkdir /data/vendor/touch 0771 system system

    #Create factory for key attestation provisoning
    mkdir /data/vendor/km 0770 system system
