# Copyright (c) 2017, LG Eletronics. All rights reserved.
#

# setting owner
on boot
   chown root system /sys/devices/platform/lge-unified-nodes/thermald_iusb
   chown root system /sys/devices/platform/lge-unified-nodes/thermald_ibat
   chown root system /sys/devices/platform/lge-unified-nodes/thermald_idc
   chown root system /sys/devices/platform/lge-unified-nodes/thermald_vdc
   chown system system /sys/devices/platform/lge-unified-nodes/charging_restriction
   chown system system /sys/devices/platform/lge-unified-nodes/charging_enable
   chown system system /sys/devices/platform/lge-unified-nodes/charging_step
   chown system system /sys/devices/platform/lge-unified-nodes/charging_showcase
   chown system system /sys/devices/platform/lge-unified-nodes/charging_completed
   chown system system /sys/devices/platform/lge-unified-nodes/fake_battery
   chown system system /sys/devices/platform/lge-unified-nodes/fake_sdpmax
   chown system system /sys/devices/platform/lge-unified-nodes/fake_hvdcp
   chown system system /sys/devices/platform/lge-unified-nodes/battery_age
   chown system system /sys/devices/platform/lge-unified-nodes/battery_condition
   chown system system /sys/devices/platform/lge-unified-nodes/battery_valid
   chown system system /sys/devices/platform/lge-unified-nodes/charger_name
   chown system system /sys/devices/platform/lge-unified-nodes/charger_highspeed
   chown system system /sys/devices/platform/lge-unified-nodes/charger_incompatible
   chown system system /sys/devices/platform/lge-unified-nodes/charger_usbid
   chown system system /sys/devices/platform/lge-unified-nodes/charger_verbose
   chown system system /sys/devices/platform/lge-unified-nodes/support_fastpl
   chown system system /sys/devices/platform/lge-unified-nodes/support_fastchg

# battery fake mode
on property:persist.vendor.lge.service.fakebatt=1
   write /sys/devices/platform/lge-unified-nodes/fake_battery 1
on property:persist.vendor.lge.service.fakebatt=0
   write /sys/devices/platform/lge-unified-nodes/fake_battery 0

# usb current max mode property
on property:persist.vendor.lge.service.usbcurrentmax=1
   write /sys/devices/platform/lge-unified-nodes/fake_sdpmax 1
on property:persist.vendor.lge.service.usbcurrentmax=0
   write /sys/devices/platform/lge-unified-nodes/fake_sdpmax 0

# hvdcp fake mode
on property:persist.vendor.lge.service.hvdcpfakemode=1
   write /sys/devices/platform/lge-unified-nodes/fake_hvdcp 1
on property:persist.vendor.lge.service.hvdcpfakemode=0
   write /sys/devices/platform/lge-unified-nodes/fake_hvdcp 0

# llk mode
on property:persist.vendor.lge.sys.store_demo_enabled=1
   write /sys/devices/platform/lge-unified-nodes/charging_showcase 1
on property:persist.vendor.lge.sys.store_demo_enabled=0
   write /sys/devices/platform/lge-unified-nodes/charging_showcase 0

on chargerlogo
   setprop persist.vendor.tb.disallowed 1
   setprop persist.vendor.ctm.disallowed 1
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1516800
   start vendor.hvdcp_opti
   start vendor.qni
   mount configfs none /config
   mkdir /config/usb_gadget/g1 0770 shell shell
   mkdir /config/usb_gadget/g1/strings/0x409 0770 shell shell
   write /config/usb_gadget/g1/bcdUSB 0x0200
   write /config/usb_gadget/g1/os_desc/use 1
   write /config/usb_gadget/g1/strings/0x409/serialnumber ${ro.serialno}
   write /config/usb_gadget/g1/strings/0x409/manufacturer "LGE"
   write /config/usb_gadget/g1/strings/0x409/product "LGE"
   mkdir /config/usb_gadget/g1/functions/hid.charge
   mkdir /config/usb_gadget/g1/configs/b.1 0770 shell shell
   mkdir /config/usb_gadget/g1/configs/b.1/strings/0x409 0770 shell shell
   write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
   write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
   symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1
   write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "charge"
   rm /config/usb_gadget/g1/configs/b.1/f1
   rm /config/usb_gadget/g1/configs/b.1/f2
   rm /config/usb_gadget/g1/configs/b.1/f3
   rm /config/usb_gadget/g1/configs/b.1/f4
   rm /config/usb_gadget/g1/configs/b.1/f5
   rm /config/usb_gadget/g1/configs/b.2/f1
   rm /config/usb_gadget/g1/configs/b.2/f2
   rm /config/usb_gadget/g1/configs/b.2/f3
   rm /config/usb_gadget/g1/configs/b.2/f4
   rm /config/usb_gadget/g1/configs/b.2/f5
   rm /config/usb_gadget/g1/configs/b.2/strings/0x409/configuration
   rmdir /config/usb_gadget/g1/configs/b.2/strings/0x409
   rmdir /config/usb_gadget/g1/configs/b.2
   write /config/usb_gadget/g1/idVendor 0x1004
   write /config/usb_gadget/g1/idProduct 0x6300
   write /config/usb_gadget/g1/bDeviceClass 0
   write /config/usb_gadget/g1/bDeviceSubClass 0
   write /config/usb_gadget/g1/bDeviceProtocol 0
   symlink /config/usb_gadget/g1/functions/hid.charge /config/usb_gadget/g1/configs/b.1/f1
   write /config/usb_gadget/g1/UDC "a600000.dwc3"

# Qnovo soluion
on post-fs-data
   chown system system /dev/triton:io
   chmod 664 /dev/triton:io

   mkdir /data/vendor/power 0771 root system
   chmod 0771 /mnt/vendor/power
   chown root system /mnt/vendor/power

   chmod 0644 /mnt/vendor/power/qna_log
   chmod 0644 /mnt/vendor/power/qni_a_data
   chmod 0644 /mnt/vendor/power/qni_b_data
   chmod 0644 /data/vendor/power/qni_log
   chown root system /mnt/vendor/power/qna_log
   chown root system /mnt/vendor/power/qni_a_data
   chown root system /mnt/vendor/power/qni_b_data
   chown root system /data/vendor/power/qni_log

on property:sys.shutdown.requested=*
   stop vendor.qni
   stop vendor.qni_log
   write /sys/class/qnovo/qnovo_enable 0

on property:persist.vendor.lge.service.chg_mode=LGE
   stop vendor.qni
   stop vendor.qni_log
   write /sys/class/qnovo/qnovo_enable 0

on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=0
   stop vendor.qni_log
   start vendor.qni

on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=0
   stop vendor.qni_log
   start vendor.qni

on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=1
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=2
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=3
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=4
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=5
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=LGE,QNOVO && property:persist.vendor.lge.service.kernel.enable=6
   stop vendor.qni
   start vendor.qni_log

on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=1
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=2
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=3
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=4
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=5
   stop vendor.qni
   start vendor.qni_log
on property:persist.vendor.lge.service.chg_mode=QNOVO && property:persist.vendor.lge.service.kernel.enable=6
   stop vendor.qni
   start vendor.qni_log

service vendor.qni /system/vendor/bin/qni -d /mnt/vendor/power -l /data/vendor/power -o 2
   socket qnibsd stream 660 qni system
   disabled

service vendor.qni_log /system/vendor/bin/qni -d /mnt/vendor/power -l /data/vendor/power -o 6
   socket qnibsd stream 660 qni system
   disabled

# Hard Reset Type: 8-DVDD_HARD_RESET, 9-XVDD_HARD_RESET
on property:persist.vendor.lge.hardreset=0
   write /sys/module/qpnp_power_on/parameters/s2_type 8
on property:persist.vendor.lge.hardreset=1
   write /sys/module/qpnp_power_on/parameters/s2_type 9

# LGE triton
service vendor.triton /vendor/bin/triton
   class main
   socket triton-client stream 660 system system
   user system
   group system
   disabled

on property:sys.boot_completed=1
   start vendor.triton
   write /sys/class/power/triton/debug 16
   write /sys/class/power/triton/enable 1
   write /sys/class/power/triton/enforce 0
   write /sys/class/power/triton/cur_policy 0
   chown system system /sys/class/power/triton/enable
   chmod 664 /sys/class/power/triton/enable
   chmod 664 /sys/class/power/triton/aevents
   chmod 664 /sys/class/power/triton/bevents
   chown system system /sys/class/power/triton/cur_policy
   chmod 664 /sys/class/power/triton/cur_policy
   chmod 664 /sys/class/power/triton/debug

on boot
#   chown system system /proc/lge_power/psfeature/vfps
#   chmod 664 /proc/lge_power/psfeature/vfps
#   chown system system /proc/lge_power/psfeature/vfps_fcnt
#   chmod 664 /proc/lge_power/psfeature/vfps_fcnt
#   chown system system /proc/lge_power/psfeature/vfps_ratio
#   chmod 664 /proc/lge_power/psfeature/vfps_ratio
   chown system system /sys/class/power/fbcn/fbcn_en
   chmod 664 /sys/class/power/fbcn/fbcn_en
   chown system system /sys/class/power/fbcn/fbcn_i
   chmod 664 /sys/class/power/fbcn/fbcn_i
   chown system system /sys/class/power/fbcn/fbcn_intv
   chmod 664 /sys/class/power/fbcn/fbcn_intv
   chown system system /sys/class/panel/img_tune/image_enhance_set
   chmod 664 /sys/class/panel/img_tune/image_enhance_set
   chown system system /sys/class/power/vfps/vfps
   chmod 664 /sys/class/power/vfps/vfps
   chown system system /sys/class/power/vfps/vfps_fcnt
   chmod 664 /sys/class/power/vfps/vfps_fcnt
   chown system system /sys/class/power/vfps/vfps_ratio
   chmod 664 /sys/class/power/vfps/vfps_ratio
   chown system system /sys/class/power_supply/battery/input_suspend
   chmod 664 /sys/class/power_supply/battery/input_suspend
   chown system system /sys/class/power_supply/battery/safety_timer_enabled
   chmod 664 /sys/class/power_supply/battery/safety_timer_enabled
   chown system system /sys/devices/platform/soc/soc:lrmc/bob_mode
   chmod 664 /sys/devices/platform/soc/soc:lrmc/bob_mode
